*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #f6f6f6;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
.row {
    width: 100%;
    max-width: 1260px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.runoob-col-md2 {
    margin-right: 1%;
    float: left;
    width: 16%;
    display: block;
    box-sizing: border-box;
    border: 1px solid #eee;
}
.header{
    background-color: cornflowerblue;
    width: 100%;
    height: 60px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 40px;
    font-family:"Times New Roman",Times,serif;
    color: white;
    overflow: hidden;
}
.header h4{
    float: right;
    font-size: 25px;
    text-align: center;
    padding: 14px 16px;
}
.sidebar-box {
    background: #fff;
    margin: 0 0 20px 0;
}
.design {
    padding: 4px;
    margin: 0;
    overflow: hidden;
}
.design a {
    line-height: 24px;
    background-color: #f6f4f0;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-bottom: 1px solid #efefef;
    color: #000;
    font-size: 13px;
}
.design a:hover{
    font-weight: bold;
}
.tab{
    padding-left: 4px;
    font-weight: bold;
    display: block;
    font-size: 1.2em;
    line-height: 2.6em;
    font-family: proxima-nova,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #000000;
    text-shadow: 0 1px 0 rgb(255 255 255 / 15%);
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-clip: padding-box;
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.05) -17%,rgba(255,255,255,.05) 117%);
}
.middle-column {
    width: 82%;
    box-sizing: border-box;
    float: left;
}
.article {
    background: #fff;
    border: 1px solid #efefef;
    border-bottom: 0;
    margin-bottom: 20px;

}
.article-body {
    padding: 10px 10px 20px 10px;
}